@charset "UTF-8";

@import "compass/css3/border-radius";

$primary-color: blue;
$secondary-color: #ccc;
$paddingevin: 5px;
$paddingevout: 4px;


.newscal {
	padding: 10px;
	text-align: center;

	.navigation {
		font-size: 120%;
		padding-top: 20px;
	}

	.calwrap {
		display: inline-block;
		vertical-align: top;
		margin: 15px 10px 10px 10px;
	}

	table.calendar {
		margin-left: auto;
		margin-right: auto;
		border: none;
		border-spacing: 0;

		th, td {
			margin: 0;
			text-align: center;
		}

		td {
			padding: $paddingevout 0;
			.day {
				padding: $paddingevin 9px;
			}
		}

		th {
			padding: 9px;
		}

		.title th {
			text-align: center;
			background: $primary-color;
			color: white;
			font-size: 120%;

			.navigation {
				color: white;
				padding-top: 0;
				font-size: 100%;
			}
		}
		.days th {
			text-align: center;
			background: $secondary-color;
		}

		td.othermonth {
			color: #999;
		}
		td.day6, td.day7 {
			background: #eee;
		}
		td.today, td.today.hasevents {
			.day {
				font-weight: bold;
				color: red;
			}
		}
		td.hasevents {
			.day {
				background: $primary-color;
				color: white;
				position: relative;
			
				ul.events {
					text-align: left;
					list-style: none;
					padding: 5px;
					margin: 0;
					background: white;
					border: 1px solid black;
					z-index: 100;
					display: none;
					position: absolute;
					right: -200px;
					top: 0;
					width: 200px;
					li {
						margin: 0;
						padding: 0;
						font-size: 10px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
			&.startev {
				padding-left: $paddingevout;
				.day {
					padding-left: $paddingevin;
					@include border-left-radius(50%);
				}
			}
			&.endev {
				padding-right: $paddingevout;
				.day {
					padding-right: $paddingevin;
					@include border-right-radius(50%);
				}
			}
			&:hover {
				cursor: pointer;
				ul.events {
					display: block;
				}
			}
		}
	}

	.left { float: left; }
	.right { float: right; }
}
