{namespace n=Tx_News_ViewHelpers}
{namespace c=Cbrunet\CbNewscal\ViewHelpers}

<f:layout name="General" />

<f:section name="content">
	<div class="newscal">
		<f:if condition="{settings.hidePagination} == 0">
			<c:offsetMonth month="{demand.month}" year="{demand.year}" offset="-1">
				<f:render section="navlink" arguments="{text: '◀', month: month, year: year, uid: uid, class:'left'}"></f:render>
			</c:offsetMonth>
			<c:offsetMonth month="{demand.month}" year="{demand.year}" offset="1">
				<f:render section="navlink" arguments="{text: '▶', month: month, year: year, uid: uid, class:'right'}"></f:render>
			</c:offsetMonth>
		</f:if>
		<f:for each="{calendars}" as="calendar" iteration="iteration">
			<f:render partial="Newscal/Calendar" arguments="{news:calendar.news, demand:calendar.demand, uid:uid, settings:settings, iteration:iteration}"></f:render>
		</f:for>
	</div>
</f:section>


<f:section name="navlink">
	<f:link.action arguments="{overwriteDemand:{year: year, month: month}}"
	               title="{f:translate(id: 'month.{month}', extensionName: 'news')} {year}"
	               section="c{uid}"
	               class="{class}">
		{text}
	</f:link.action>
</f:section>